<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- load the properties file: sport.properties -->
    <context:property-placeholder location="classpath:sport.properties"></context:property-placeholder>

    <bean id="myCoach" class="com.bo.springdemo.BaseballCoach">
        <!-- set up Constructor injection -->
        <constructor-arg ref="myFortune"/>
    </bean>

    <bean id="myBaseballCoach" class="com.bo.springdemo.BaseballCoach">
        <constructor-arg ref="myFortune"/>
    </bean>

    <!-- define the dependency -->
    <bean id="myFortune" class="com.bo.springdemo.FortuneServiceImpl"></bean>

    <bean id="myFootballCoach" class="com.bo.springdemo.FootballCoach">
        <!-- set up the setter injection -->
        <property name="fortuneService" ref="myFortune"></property>
        <property name="emailAddress" value="${foo.email}"></property>
        <property name="team" value="${foo.team}"></property>
    </bean>


</beans>